section {
  max-width: 33%;
}

header {
  display: block;
  max-width: 30%;
  margin: auto;
  margin-bottom: 40px;
}

header * {
  margin: 1rem;
}

#dropItems {
  display: block;
  max-width: 70%;
  margin: auto;
}

header h1 {
  text-align: center;
}